body {
  font-family: sans-serif;
}
.pic {
  display: flex;

  background: black;
  border-radius: 100%;
  position: absolute;
  top: 17px;
  right: 14px;
  width: 40px;
  height: 40px;
}
.c2 {
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: grey;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.boxes {
  display: flex;
  width: 72px;
  height: 35px;
  background: black;
  margin: 10px;
  border-radius: 10px;
}
.icon {
  display: flex;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 100%;
  margin: 6px;
  align-items: center;
}
.content {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.blocks {
  display: flex;
  flex-direction: row;
}
.window1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.window {
  margin: 10px;
  height: 350px;
  flex-grow: 1;
  color: white;
  display: flex;
  background: grey;
  border-radius: 5px;
}
.white-board {
  flex-grow: 1;
  border-radius: 20px;
  background: white;
  margin: 10px;
  width: 370px;
}
.bottom {
  display: flex;
  flex-direction: row;
}
.bottom-two {
  margin-left: 5px;
  flex-grow: 1;
  width: 195px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  background: grey;
}